
- name: create personal bin folder
  file:
    path: "{{ ansible_env.HOME }}/bin"
    mode: 0750
    state: directory

- name: add personal bin folder to path
  become: true
  lineinfile:
    dest: /etc/paths.d/50-personal-bin
    line: "{{ ansible_env.HOME }}/bin"
    regexp: "{{ ansible_env.HOME }}/bin"
    mode: 0644
    create: yes

- name: add sbin folder to path
  become: true
  lineinfile:
    dest: /etc/paths.d/10-sbin
    line: "/usr/local/sbin"
    regexp: "/usr/local/sbin"
    mode: 0644
    create: yes
