- name: install common tools with homebrew
  homebrew:
    name:
      - tree
      - wget
      - autojump
      - grep
      - ag
      - watch
      - bat
      - ripgrep

- name: install mtr
  homebrew:
    name: mtr

- name: tldr repo
  homebrew_tap:
    name: tldr-pages/tldr
    state: absent

- name: uninstall tldr (deprecated client)
  homebrew:
    name: tldr
    state: absent

- name: install tlrc (tldr replacement client)
  homebrew:
    name: tlrc

- name: install multiplexers
  homebrew:
    name:
      - tmux
      - csshX

- name: fix thefuck
  blockinfile:
    dest: "{{ ansible_env.HOME }}/.paths_homes_etc"
    insertafter: EOF
    marker: "# {mark} ANSIBLE MANAGED BLOCK for thefuck"
    content: |
             eval $(thefuck --alias)

- name: install thefuck
  homebrew:
    name: thefuck

- name: install more tools
  homebrew:
    name:
      - httpie
      - yq
      - bat
      - gh
      - jq

- name: install shellcheck
  homebrew:
    name: shellcheck

- name: install fzf
  homebrew:
    name: fzf

- name: setup fzf key-bindings and completion
  shell: "$(brew --prefix)/opt/fzf/install --no-fish --completion --key-bindings --no-update-rc"
  # creates: "{{ ansible_env.HOME }}/.fzf.zsh"

- name: setup fzf in rc-files
  blockinfile:
    dest: "{{ ansible_env.HOME }}/.paths_homes_etc"
    insertafter: EOF
    marker: "# {mark} ANSIBLE MANAGED BLOCK for fzf"
    content: |
             [ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# - name: install EurKEY - layout (https://eurkey.steffen.bruentjen.eu/) - icon
#   get_url:
#     url: https://raw.githubusercontent.com/lbschenkel/EurKEY-Mac/master/EurKEY.icns
#     dest: "{{ ansible_env.HOME }}/Library/Keyboard Layouts/EurKEY.icns"
#     checksum: md5:fb69b6aeb3c41a4d62b89d9a8382b4a6

# - name: install EurKEY - layout (https://eurkey.steffen.bruentjen.eu/) - keylayout
#   get_url:
#     url: https://raw.githubusercontent.com/lbschenkel/EurKEY-Mac/master/EurKEY.keylayout
#     dest: "{{ ansible_env.HOME }}/Library/Keyboard Layouts/EurKEY.keylayout"
#     checksum: md5:bfa5c7b70f64b7736d6545d737452bd0
