
- name: add HOMEBREW_GITHUB_API_TOKEN
  lineinfile:
    dest: "{{ ansible_env.HOME }}/.paths_homes_etc"
    line: "export HOMEBREW_GITHUB_API_TOKEN={{ github_api_token }}"
    regexp: "export HOMEBREW_GITHUB_API_TOKEN"

- name: add HOMEBREW_NO_ANALYTICS=1
  lineinfile:
    dest: "{{ ansible_env.HOME }}/.paths_homes_etc"
    line: "export HOMEBREW_NO_ANALYTICS=1"
    regexp: "export HOMEBREW_NO_ANALYTICS"

- name: update homebrew and upgrade brews
  homebrew:
    update_homebrew: yes
    upgrade_all: yes

- name: "update casks - if it fails run manually: brew outdated --casks | xargs brew upgrade --force"
  shell: "brew outdated --casks | xargs brew install"
