- name: Install Github Copilot CLI
  npm:
    name: "@github/copilot"
    global: true
    state: absent

- name: Install AI tools
  homebrew_cask:
    name:
      - antigravity
      - chatgpt
      - claude
      - claude-code
      - codex
      - copilot-cli

- name: add entries to .gitignore_global
  lineinfile:
    dest: "{{ ansible_env.HOME }}/.gitignore_global"
    line: "{{ item }}"
  with_items:
    - .claude/
    - .serena/

- name: remove entries from .gitignore_global
  lineinfile:
    dest: "{{ ansible_env.HOME }}/.gitignore_global"
    line: "{{ item }}"
    state: absent
  with_items:
    - CLAUDE.md
    - AGENTS.md

