- name: Tap non-free fonts
  homebrew_tap:
    name: colindean/fonts-nonfree

- name: Install Microsofts and Fira Code font
  homebrew_cask:
    name:
      - font-fira-code
      - font-microsoft-office
      - font-hack-nerd-font
      - font-fira-code-nerd-font
    install_options: force
