- name: install poetry
  homebrew:
    name:
      - "python" # A newer one than the system python
      - "poetry"
      - uv


- name: install anaconda
  homebrew_cask:
    name:
      - "anaconda"

- name: add anaconda (conda) to path
  become: true
  lineinfile: >
    dest=/etc/paths.d/30-conda-bin
    line=/usr/local/anaconda3/bin
    regexp=/usr/local/anaconda3/bin
    create=yes
